<div class="fixed-container">
  <!-- Introduction -->
  <div class="question-container" data-number="0">
    <div class="question">
      <h1>Telediagnóstico de pacientes covid-19</h1>
      <p>Preguntas</p>
      <p>Responda 13 preguntas y le diremos si tiene la posibilidad de tener COVID-19 u otras enfermedades respiratorias.</p>
    </div>
    <div class="input">
      <button class="submit" data-answer-type="choice">OK ✔</button>
    </div>
  </div>

  <!-- question 0 -->
  <div class="question-container" data-number="1">
    <div class="question">
      <h1>¿Cuál es tu nombre?</h1>
      <p>Tu nombre</p>
    </div>
    <div class="input">
      <input id="nameInput" type="text" placeholder="Escribe tu nombre aquí." />
      <button data-answer-type="text" class="submit">OK ✔</button>
      <p id="nameInputReminder" style="color: red; display: none;">Escribe tu nombre</p>
    </div>
  </div>

  <!-- question 1 -->
  <div class="question-container" data-number="2">
    <div class="question">
      <h1>1. ¿Cuál es tu edad?</h1>
      <p>En años.</p>
    </div>
    <div class="input">
      <input id="ageInput" type="text" placeholder="Escribe tu respuesta aquí." />
      <button data-answer-type="number" class="submit">OK ✔</button>
      <p id="ageInputReminder" style="color: red; display: none;">Escribe tu edad (Debe ser un número y una edad válida).</p>
    </div>
  </div>
  
  <!-- question 2 -->
  <div class="question-container" data-number="3">
    <div class="question">
      <h1>2. ¿Cuál es tu género?</h1>
      <p>Masculino o Femenino.</p>
    </div>
    <div class="input">
      <div>
        <button data-question="gender" data-choice="masculino" data-answer-type="choice" class="submit" style="width: 6rem;">Masculino</button>
      </div>
      <div>
        <button data-question="gender" data-choice="femenino" data-answer-type="choice" class="submit" style="width: 6rem;">Femenino</button>
      </div>
    </div>
  </div>
  
  <!-- question 3 -->
  <div class="question-container" data-number="4">
    <div class="question">
      <h1>3. ¿Tiene antecedentes de alguna enfermedad respiratoria?</h1>
      <p>Algunos ejemplos de enfermedades respiratorias son bronquitis aguda, asma, bronquiectasias, bronquiolitis, COPD, COVID 19, influenza, cáncer de pulmón, fibrosis quística, tos ferina, enfermedades pulmonares ocupacionales, rinosinusitis, tuberculosis.</p>
    </div>
    <div class="input">
      <div>
        <button data-question="familyHistory" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Si</button>
      </div>
      <div>
        <button data-question="familyHistory" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">No</button>
      </div>
    </div>
  </div>

  <!-- question 4 -->
  <div class="question-container" data-number="5">
    <div class="question">
      <h1>4. ¿Usted fuma o algún miembro de su familia?</h1>
      <p>Fumar puede aumentar el riesgo de enfermedad pulmonar al dañar las vías respiratorias y los pequeños sacos de aire (alvéolos) que se encuentran en los pulmones.</p>
      <p>Fuente: <a href="https://www.cdc.gov/tobacco/data_statistics/fact_sheets/health_effects/effects_cig_smoking/index.htm#:~:text=1%2C2-,Smoking%20and%20Respiratory%20Disease,alveoli)%20found%20in%20your%20lungs.&text=Lung%20diseases%20caused%20by%20smoking,includes%20emphysema%20and%20chronic%20bronchitis.&text=Cigarette%20smoking%20causes%20most%20cases%20of%20lung%20cancer.">www.cdc.gov</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="smokingHistory" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Si</button>
      </div>
      <div>
        <button data-question="smokingHistory" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">No</button>
      </div>
    </div>
  </div>

  <!-- question 5 -->
  <div class="question-container" data-number="6">
    <div class="question">
      <h1>5. ¿Sientes dolor en el pecho?</h1>
      <p>Las posibles causas del dolor en el pecho pueden estar relacionadas con los pulmones.</p>
      <p>Fuente: <a href="https://www.mayoclinic.org/diseases-conditions/chest-pain/symptoms-causes/syc-20370838">www.mayoclinic.org</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="chestPain" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Si</button>
      </div>
      <div>
        <button data-question="chestPain" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">No</button>
      </div>
    </div>
  </div>

  <!-- question 6 -->
  <div class="question-container" data-number="7">
    <div class="question">
      <h1>6. ¿Toses?</h1>
      <p>La tos es uno de los síntomas de muchas enfermedades respiratorias.</p>
      <p>Fuente: <a target="_blank" href="https://www.webmd.com/lung/dont-ignore-breathing-problems#:~:text=A%20thick%2C%20wet%20cough%20can,well%20as%20they%20used%20to.">www.webmd.com</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="cough" data-choice="dry" data-answer-type="choice" class="submit" style="width: 14rem;">Si. Tos seca</button>
      </div>
      <div>
        <button data-question="cough" data-choice="productive" data-answer-type="choice" class="submit" style="width: 14rem;">Si. Tos productiva (húmeda, es aquella en la que se arroja flema).</button>
      </div>
      <div>
        <button data-question="cough" data-choice="N" data-answer-type="choice" class="submit" style="width: 14rem;">No.</button>
      </div>
    </div>
  </div>

  <!-- question 7 -->
  <div class="question-container" data-number="8">
    <div class="question">
      <h1>7. ¿Toses sangre?</h1>
      <p>La condición de toser sangre (o Hemotypsis) indica sangrado de las vías respiratorias y puede ser causada por muchas enfermedades respiratorias diferentes, como tuberculosis o neumonía.</p>
      <p>Fuente: <a target="_blank" href="https://en.wikipedia.org/wiki/Hemoptysis#:~:text=Hemoptysis%20is%20the%20coughing%20up,pneumonia%2C%20and%20certain%20cardiovascular%20conditions.">Wikipedia</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="coughingUpBlood" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Si</button>
      </div>
      <div>
        <button data-question="coughingUpBlood" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">No</button>
      </div>
    </div>
  </div>

  <!-- question 8 -->
  <div class="question-container" data-number="9">
    <div class="question">
      <h1>8. ¿Tienes fiebre?</h1>
      <p>El CDC considera que una persona tiene fiebre cuando ha medido una temperatura de 100,4 ° F (38 ° C).</p>
      <p>Fuente: <a target="_blank" href="https://www.cdc.gov/quarantine/air/reporting-deaths-illness/definitions-symptoms-reportable-illnesses.html">www.cdc.gov</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="fever" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Si</button>
      </div>
      <div>
        <button data-question="fever" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">No</button>
      </div>
    </div>
  </div>

  <!-- question 9 -->
  <div class="question-container" data-number="10">
    <div class="question">
      <h1>9. ¿Experimenta una respiración rápida?</h1>
      <p>En humanos adultos en reposo, cualquier frecuencia respiratoria entre 12 y 20 respiraciones es normal y la taquipnea está indicada por una frecuencia superior a 20 respiraciones por minuto.</p>
      <p>Fuente: <a target="_blank" href="https://en.wikipedia.org/wiki/Tachypnea#:~:text=Tachypnea%20is%20a%20respiration%20rate,resulting%20in%20abnormally%20rapid%20breathing.&text=In%20adult%20humans%20at%20rest,than%2020%20breaths%20per%20minute.">Wikipedia.</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="rapidBreathing" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Si</button>
      </div>
      <div>
        <button data-question="rapidBreathing" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">No</button>
      </div>
    </div>
  </div>

  <!-- question 10 -->
  <div class="question-container" data-number="11">
    <div class="question">
      <h1>10. ¿Tiene dificultad para respirar?</h1>
      <p>La dificultad para respirar (o disnea) a menudo se describe como una opresión intensa en el pecho, falta de aire, dificultad para respirar, falta de aire o sensación de asfixia.</p>
      <p>Fuente: <a target="_blank" href="https://www.mayoclinic.org/symptoms/shortness-of-breath/basics/definition/sym-20050890#:~:text=Shortness%20of%20breath%20%E2%80%94%20known%20medically,breath%20in%20a%20healthy%20person.">Mayoclinic</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="shortnessOfBreath" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Si</button>
      </div>
      <div>
        <button data-question="shortnessOfBreath" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">No</button>
      </div>
    </div>
  </div>

  <!-- question 11 -->
  <div class="question-container" data-number="12">
    <div class="question">
      <h1>11. ¿Experimenta latidos cardíacos rápidos?</h1>
      <p>Taquicardia es el término médico para una frecuencia cardíaca superior a 100 latidos por minuto.</p>
      <p>Fuente: <a target="_blank" href="https://www.mayoclinic.org/diseases-conditions/tachycardia/symptoms-causes/syc-20355127#:~:text=Tachycardia%20heartbeat,-In%20tachycardia%2C%20an&text=Tachycardia%20is%20the%20medical%20term,to%20have%20a%20fast%20heartbeat.">Mayoclinic</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="rapidHeartbeat" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Si</button>
      </div>
      <div>
        <button data-question="rapidHeartbeat" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">No</button>
      </div>
    </div>
  </div>

  <!-- question 12 -->
  <div class="question-container" data-number="13">
    <div class="question">
      <h1>12. ¿Experimenta sibilancias?</h1>
      <p>Las sibilancias son un silbido agudo que se produce mientras respira.</p>
      <p>Fuente: <a target="_blank" href="https://www.healthline.com/health/wheezing#:~:text=Wheezing%20is%20a%20high%2Dpitched,that%20requires%20diagnosis%20and%20treatment.">www.healthline.com</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="wheezing" data-choice="Y" data-answer-type="choice" class="submit" style="width: 4rem;">Si</button>
      </div>
      <div>
        <button data-question="wheezing" data-choice="N" data-answer-type="choice" class="submit" style="width: 4rem;">No</button>
      </div>
    </div>
  </div>

  <!-- question 13 -->
  <div class="question-container" data-number="14">
    <div class="question">
      <h1>13. ¿Cuánto duran sus síntomas?</h1>
      <p>Los síntomas de algunas enfermedades respiratorias como COVID 19 pueden durar meses.</p>
      <p>Fuente: <a target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/long-term-effects.html">www.cdc.gov</a></p>
    </div>
    <div class="input">
      <div>
        <button data-question="duration" data-choice="<1 semana" data-answer-type="choice" class="submit" style="width: 12rem;">Menos de una semana</button>
      </div>
      <div>
        <button data-question="duration" data-choice=">1 semana, <4 semanas" data-answer-type="choice" class="submit" style="width: 12rem;">Más de una semana, menos de un mes</button>
      </div>
      <div>
        <button data-question="duration" data-choice="meses" data-answer-type="choice" class="submit" style="width: 12rem;">Unos pocos meses</button>
      </div>
      <div>
        <button data-question="duration" data-choice="años" data-answer-type="choice" class="submit" style="width: 12rem;">Unos años</button>
      </div>
    </div>
  </div>

  <!--  Result -->
  <div class="question-container" data-number="15">
    <div class="question">
      <h1 id="username">,</h1>
      <p id="youhave">Probablemente tienes</p>
      <h2 id="disease" style="font-weight: 400"></h2>
      <p id="percentage"></p>
      <details>
        <summary>Revisa tu respuesta</summary>
        <p id="review-name">Nombre: </p>
        <p id="review-age">Edad: </p>
        <p id="review-gender">Género: </p>
        <p id="review-familyHistory">Historial de salud familiar: </p>
        <p id="review-smokingHistory">Historial de tabaquismo: </p>
        <p id="review-chestPain">Dolor en el pecho: </p>
        <p id="review-cough">Tos: </p>
        <p id="review-coughingUpBlood">Tos con sangre: </p>
        <p id="review-fever">Fiebre: </p>
        <p id="review-rapidBreathing">Respiración rápida: </p>
        <p id="review-shortnessOfBreath">Dificultad para respirar: </p>
        <p id="review-rapidHeartbeat">Latidos rápidos: </p>
        <p id="review-wheezing">Sibilancias: </p>
        <p id="review-duration">Duración de los síntomas: </p>
      </details>
      <button class="try-agn-btn" onclick="location.reload();">Inténtalo de nuevo</button>

    </div>
  </div>
</div>